/* Carousel css */
.react-multi-carousel-dot button {
  border-color: var(--color-white);
  background-color: var(--color-black);
}
.react-multi-carousel-dot--active button {
  background-color: var(--color-purple);
}
/* css */
.carousel-container {
  overflow: hidden;
  padding: 1rem 0;
}
.movie-slide-area {
  margin-top: 2rem;
}
.movie-slide-area > h3 {
  margin-left: 15px;
  margin-bottom: 0;
}
