.banner {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner:before {
  content: '';
  background: linear-gradient(to top, var(--color-black), transparent);
  position: absolute;
  left: 0;
  height: 70vh;
  width: 100%;
}
.banner-text-area {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 3rem;
}
.banner-text-area > * {
  z-index: 2;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
}
.banner-text-area > h1 {
  font-family: 'Acme', 'Montserrat', sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
}
.banner-text-area > p {
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
/* 태블릿 */
@media (max-width: 768px) {
  .banner-text-area {
    width: 60%;
  }
  .banner-text-area > h1 {
    font-size: 3rem;
  }
  .banner-text-area > p {
    -webkit-line-clamp: 5;
  }
}
/* 모바일 */
@media (max-width: 430px) {
  .banner-text-area {
    width: 70%;
  }
  .banner-text-area > h1 {
    font-size: 2rem;
  }
  .banner-text-area > p {
    -webkit-line-clamp: 3;
  }
}
