.movie-card {
  width: 100%;
  height: 200px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: var(--color-white);
  overflow-wrap: break-word;
  padding: 10px;
  position: relative;
}
.overlay:hover {
  opacity: 1;
  border-radius: 10px;
}
.movie-card:hover {
  transform: scale(1.2) translateZ(20px);
  z-index: 2;
  border-radius: 10px;
}
.overlay-title {
  font-weight: 600;
  font-size: 1.5rem;
}
.card-style {
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
}
