/* Bootstrap css */
.navbar-dark {
  --bs-navbar-color: #ffffff;
}

/* css */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

/* NotFoundPage */
.not-found-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found-area .error-name {
  font-size: 5rem;
  font-weight: bold;
}

.not-found-area .error-message {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.not-found-area .link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #d8bfd8;
}
