/* Global */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-purple: #9900ff;
}
/* Bootstrap css */
.navbar-dark {
  --bs-navbar-color: var(--color-white);
}
.btn-outline-primary {
  --bs-btn-color: var(--color-purple);
  --bs-btn-border-color: var(--color-purple);
  --bs-btn-hover-bg: var(--color-purple);
  --bs-btn-hover-border-color: var(--color-purple);
  --bs-btn-active-bg: var(--color-purple);
  --bs-btn-active-border-color: var(--color-purple);
  --bs-btn-disabled-color: var(--color-purple);
  --bs-btn-disabled-border-color: var(--color-purple);
}
.spinner-border {
  --bs-spinner-width: 3rem;
  --bs-spinner-height: 3rem;
}
.text-primary {
  color: var(--color-purple) !important;
}
/* css */
body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
}
