/* Global */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-purple: #9900ff;
  --color-yellow: #ffd43b;
  --color-light-slate-gray: #778899;
  --color-crimson: #dc143c;
  --color-gray: #8c8c8c;
  --color-light-cobalt-blue: #8db5e3;
}
/* Bootstrap css */
.navbar-dark {
  --bs-navbar-color: var(--color-white);
}
.btn-outline-primary {
  --bs-btn-color: var(--color-purple);
  --bs-btn-border-color: var(--color-purple);
  --bs-btn-hover-bg: var(--color-purple);
  --bs-btn-hover-border-color: var(--color-purple);
  --bs-btn-active-bg: var(--color-purple);
  --bs-btn-active-border-color: var(--color-purple);
  --bs-btn-disabled-color: var(--color-purple);
  --bs-btn-disabled-border-color: var(--color-purple);
}
.spinner-border {
  --bs-spinner-width: 3rem;
  --bs-spinner-height: 3rem;
}
.text-primary {
  color: var(--color-purple) !important;
}
.bg-primary {
  background-color: var(--color-purple) !important;
}
.badge {
  margin-right: 5px;
}
.navbar-toggler {
  border-color: var(--color-white);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-link {
  text-align: center;
}
.nav-link:hover {
  color: var(--color-white);
}
.nav-link:focus {
  color: var(--color-white);
}
.pagination {
  --bs-pagination-bg: var(--color-black);
  --bs-pagination-border-color: var(--color-purple);
  --bs-pagination-color: var(--color-white);
  --bs-pagination-hover-color: var(--color-purple);
  --bs-pagination-focus-color: var(--color-purple);
  --bs-pagination-active-bg: var(--color-purple);
  --bs-pagination-active-border-color: var(--color-purple);
  --bs-pagination-disabled-bg: var(--color-black);
  --bs-pagination-disabled-border-color: var(--color-purple);
  --bs-pagination-disabled-color: var(--color-white);
}
/* css */
body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  padding: 0;
}
button {
  background: none;
  border: none;
}
